th {
    border-color:blue;
    border-width:3px;
    border-style:solid;
    }
    
    
tr {
    border-color:blue;
    border-width:3px;
    border-style:solid;
    }
    
    
td {
    border-color:blue;
    border-width:3px;
    border-style:solid;
    }
